---
import BaseHead from '../components/BaseHead.astro';
import { SITE_DESCRIPTION } from '../consts';
---

<html lang="en">
	<head>
		<BaseHead title="Not Found" description={SITE_DESCRIPTION} />
    <style>
      body {
        margin: 0;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
      .coding {
        font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
        width: 9ch;
        padding-right: 2px;
        overflow: hidden;
        white-space: nowrap;
        border-right: .1em solid #666;
        animation: typing 2s steps(9, end), blink .5s 2.5s step-end infinite alternate;
        position: relative;
        margin-left: 1ch;

        &:hover {
          animation-play-state: paused;
        }
      }

      /*光标动画*/
      @keyframes blink {
        50% {
          border-color: transparent;
        }
      }

      /*文本动画：从宽度为0开始*/
      @keyframes typing {
        from {
          width: 0;
        }
      }
    </style>
	</head>

	<body class="md:bg-slate-50 w-80 mx-auto h-screen flex flex-col justify-center font-montserrat p-6">
		<div class="font-montserrat mb-2 text-slate-600 sm:text-3xl text-xl">Mysterious Place</div>
    <a href="/" class="flex items-center sm:text-2xl text-lg">
      <span class="text-gray-400/50">></span><div class="coding inline-block text-gray-400 before:text-gray-400/50 cursor-pointer hover:!text-main ease-in-out hover:!border-r-0">cd ~/home</div>
    </a>
	</body>
</html>
