---

---

<main class="p-6 md:ml-[100px] md:flex md:min-h-dvh">
  <div
    class="w-full pt-16 dark:bg-dark-2 md:rounded-lg md:border md:border-gray-300 md:bg-white md:p-6 md:pt-10 md:shadow-sm dark:md:border-dark-3"
  >
    <slot />
  </div>
</main>
