---

---

<main class="md:flex md:ml-[100px] md:min-h-dvh p-6">
  <div class="md:bg-white md:border md:border-gray-300 md:rounded-lg md:shadow-sm md:p-6 md:pt-10 pt-16 w-full">
    <slot />
  </div>
</main>