---
---
<div
  class="prose dark:prose-invert m-auto
  prose-h1:font-bold prose-h1:text-4xl prose-h1:md:text-5xl text-lg md:text-xl
  prose-a:text-main prose-img:rounded-xl"
>
  <slot />
</div>