---
import BaseHead from '../components/BaseHead.astro'
import AppContainer from '../components/AppContainer.astro'

const { title, description } = Astro.props
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body class="md:bg-slate-50">
    <AppContainer>
      <slot />
    </AppContainer>
  </body>
</html>
